# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners
# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Aaron Tye (atye)
# Shayna Finocchiaro (shaynafinocchiaro)
# Emily Kinuthia (EmilyKatdell)

* @abhi16394 @adarsh-dell @AkshaySainiDell @ashleyvjoy @bharathsreekanth @Deepak-Ghivari @JacobGros @jooseppi-luna @khareRajshree @KshitijaKakde @kumarkgosa @mbasha-dell @mjsdell @prabhu-dell  @rishabhatdell @sakshi-garg1 @suryagupta4 @VamsiSiddu-7  @atye @shaynafinocchiaro @EmilyKatdell
