apiVersion: v2
appVersion: "2.1.0"
kubeVersion: ">= 1.21.0 < 1.24.0"
description: |
  VxFlex OS CSI (Container Storage Interface) driver Kubernetes
  integration. This chart includes everything required to provision via CSI as
  well as a VxFlex OS StorageClass.
keywords:
- csi
- storage
maintainers:
- name: DellEMC
name: csi-vxflexos
sources:
- https://github.com/dell/csi-vxflexos
version: "2.1.0"
