name: Workflow
on:
  push:
jobs:
  test:
    name: Run Go unit tests and check package coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
      - name: Checkout csi-powerflex
        uses: actions/checkout@v2
        with:
          # change these to your driver name
          repository: 'dell/csi-powerflex'
          path: 'csi-powerflex'
      - name: Run unit tests and check package coverage
        uses: dell/common-github-actions/go-code-tester@try-test-fix
        # set these three to appropriate values
	run: pwd;ls -l;./go-code-tester/entrypoint.sh
        with:
          threshold: 90
          # test-folder should be accurate for all csi-drivers
          skip-list: "podmon/test/ssh"
